* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #e9f1ff;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 18px 30px;
    background: #ffffff;
    box-shadow: 0 2px 10px #0000001a;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav h1 {
    color: #0057ff;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-btn {
    padding: 8px 18px;
    border: none;
    background: #0057ff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    gap: 30px;
}

.hero-text {
    max-width: 500px;
}

.hero-text h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.upload-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background: #1b72ff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.upload-btn input {
    display: none;
}

.scan-btn {
    display: block;
    margin-top: 15px;
    padding: 12px 20px;
    background: #00a86b;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.hero-img {
    width: 260px;
    animation: float 3s infinite ease-in-out;
}

/* ANIMATION */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

/* RESULTS */
.results-section {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.medicine-card {
    background: white;
    padding: 15px;
    border-radius: 15px;
    margin-top: 18px;
    box-shadow: 0 4px 15px #0001;
    border-left: 5px solid #006eff;
}

.medicine-card strong {
    color: #003d99;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    background: #ffffff;
    box-shadow: 0 -2px 10px #0000001a;
}
